<p id="notice"><%= notice %></p>

<h1>Listing polls</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Start date</th>
      <th>Deadline</th>
      <th>Created By</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @polls.each do |poll| %>
    <tr>
      <td><%= poll.question %></td>
      <td><%= poll.start_date.to_s(:simple) %></td>
      <td><%= poll.deadline.to_s(:simple) %></td>
  
      <td><%= link_to 'Show', poll %></td>
      <% if admin_is_logged_in? %>
      <td><%= link_to 'Edit', edit_poll_path(poll) %></td>
      <td><%= link_to 'Destroy', poll, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if admin_is_logged_in? %>
<%= link_to 'New Poll', new_poll_path %>
<% end %>
